body{
    background-image: url(https://cdn.wallpapersafari.com/11/91/sLlxKg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow:2px 2px 5px red

}
.page {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}


.board {
    padding:0px;
    margin: 10px;
    color: rgb(255, 255, 255);
    height: 400px;
    width: 400px;
    display: flex;
    text-shadow:2px 2px 5px rgb(8, 133, 18);
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.square {
    border: 1px solid rgb(39, 161, 65, .8);
    background-color: rgb(168, 24, 24);
    flex: 1 1 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    min-height: 130px;
    
}

.theWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 100px;
}
.ready{
    font-size: 150px;
}
.readyBtn {
    height: 200px;
    width: 400px;
    font-size: 50px;
}
.title{
    font-size: 100px;
}
.gameContariner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}